@import "tailwindcss";

@layer components {
  .localization-container {
    @apply relative border overflow-visible;
  }
  .grid-line-vertical {
    @apply absolute border-l;
    top: 0;
    bottom: 0;
    width: 1px;
  }
  .grid-line-horizontal {
    @apply absolute border-t;
    left: 0;
    right: 0;
    height: 1px;
  }
  .marker-tx {
    @apply absolute z-10 w-5 h-5 bg-pink-500 shadow-md ring-2 ring-white;
  }
  .marker-rx {
    @apply absolute z-10 w-5 h-5 bg-yellow-500 shadow-md ring-2 ring-white;
  }
  .marker-subject {
    @apply absolute z-20 w-5 h-5 rounded-full bg-blue-600 border-1 border-white shadow-lg;
  }
  .spinner {
    @apply animate-spin rounded-full h-8 w-8 border-t-2 border-gray-900;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 640px) {
  body {
    font-size: 0.875rem; /* 14px */
  }
}

.upload-area {
  transition: all 0.3s ease;
}

.upload-area:hover {
  background-color: #f3f4f6;
  border-color: #3b82f6;
}

